@model IEnumerable<ShipBobUserOrderManagement.Models.User>
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Index";
}
<!-- Page Content -->


<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">User</h3>
            <a asp-area="Admin" asp-controller="Users" asp-action="Create" class="btn btn-success">
                <span class="btn btn-label"><i class="fa fa-check"></i></span>Create New User
            </a>
        </div>
    </div>
</div>

<!-- .row -->
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">User List</h3>
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var cust in Model)
                                    {



                                        <tr>
                                            <td>@cust.FirstName</td>
                                            <td>@cust.LastName</td>
                                      

                                            <td>
                                               <a asp-area="Admin" asp-controller="Orders" asp-action="Create" asp-route-id="@cust.Id" class="btn btn-success">
                                                    Place Order
                                                </a>
                                                <!--
                                                <a asp-area="Admin" asp-controller="Orders" asp-action="Create" asp-route-id="@cust.Id" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Create New Order"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@cust.Id" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                                -->
                                                </td>

                                        </tr>

                                    }

                                    



                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- /#page-wrapper -->